@charset "utf-8";

/*common*/

:root {
    --favorite-color: rgb(25 91 150);
    --next-color: rgb(48 83 150);
    --back-color: rgba(25,91,150,0.8);
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    /*border: 8px solid var(--favorite-color);*/
    /*border-top: 30px;*/
    background-color: var(--favorite-color);
    z-index: 1;
}

#main {
    z-index: 2;
    margin: 0 8px 8px 8px;
    background-color: #fff;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}


/*header*/
    
header {
    background: white;
    display: flex;
    position: fixed;
    z-index: 3;
    width: calc( 100% - 16px);
    margin: 0 auto;
    box-shadow: 0px 0.1px  4px gray;
    border-top: 8px solid var(--favorite-color);
    height: 100px;
}

header ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

header li {
    width: 135px;
    color: var(--favorite-color);
    font-weight: bold;
    list-style: none;
    text-align: center;
    line-height: 100px;
    flex-grow: 1;
}

.header1 {
    margin-left: 30px;
    margin-right: 60px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.header1 a {
    width: 70px;
    height: 70px;
}

.header1 img {
    width: 70px;
    height: 70px;
}

.header2:hover {
    border-bottom: 2px solid var(--favorite-color);
}

.header3 {
    margin-right: 40px;
    width: 180px;
    min-width: 151px;
}

.header4 {
    border-radius: 30px;
    padding: 10px 10px 10px 30px;
    background: var(--next-color);
    color: white !important;
    font-weight: bold;
}

.header4:hover {
    background: var(--favorite-color);
    cursor: pointer;
    cursor: hand;
}

.header5 {
    display: none;
}




/*photo*/

.photo {
    position: relative;
}

.photo img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    z-index: 1;
}

.photo div {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 8vw;
    top: 50%;
    left: 10%;
    z-index: 2;
}


/*information*/

.information {
    display:flex;
    height: 60px;
    align-items: center;
    margin-bottom: 30px
}

.information div {
    width: 100px;
}

.information2 {
    margin-left: 10%;
    padding-right: 20px;
    border-right: solid 1.5px var(--favorite-color);
    font-weight: bold;
    color: var(--favorite-color);
}

.information-container {
    display: flex;
}

.information3 {
    padding-left: 20px;
    font-size: 12px;
}

.information4 {
    color: var(--favorite-color)!important;
    font-size: 12px;
}

.information5 {
    border-radius: 30px;
    padding: 10px 20px 10px 30px;
    border: solid 1px var(--favorite-color);
    background: white;
    color: var(--favorite-color);
    font-weight: bold;
    display: inline-block;
    margin-right: 10%;
    margin-left: auto;
}

.information5:hover {
    color: white;
    background: var(--favorite-color);
    cursor: pointer;
    cursor: hand;
}


/*concept*/
.concept {
    position: relative;
    width: 1140px;
    height: 573px;
    margin: 0 auto;
}

.concept-sentence {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.8;
    width: 400px;
    height: 410px;
    background: var(--favorite-color);
    color: white;
    padding: 40px 150px 0px 80px;
}

.concept h1 {
    margin:0;
    font-size:50px;
}

.concept h3 {
    margin: 0;
    font-size: 20px;
    padding: 10px 0px;
}

.concept p {
    margin: 0;
    padding-bottom: 10px;
    font-size: 14px;
}

.concept a {
    background: white;
    color: var(--favorite-color);
    font-weight: bold;
    padding: 5px 10px 5px 30px;
    border-radius: 30px;
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

.concept a:hover {
    background: var(--next-color);
    color: white;
    cursor: pointer;
    cursor: hand;
}

.concept-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.concept-img > img {
    width: 630px;
    height: 450px;
}


/*service*/

.service {
    background-image: url(view.png);
    background-size: cover;
    background-position: center;
    background-color: var(--back-color);
    background-blend-mode: multiply;
    position: relative;
    height: 530px;
    margin-top: 80px;
}

.service div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
    width: 800px;
}

.service h1 {
    margin: 0;
    font-size: 50px;
    color:white;
}

.service h3 {
    color: white;
    margin: 40px 0px 0px 0px;
}

.service p {
    color: white;
    font-size: 14px;
    margin: 30px 0px 0px 0px;
    line-height: 25px;
}

.service a {
    display: inline-block;
    margin-top: 50px;
    background: white;
    padding: 10px 10px 10px 30px;
    border-radius: 30px;
    color: var(--favorite-color);
    font-weight: bold;
}

.service a:hover {
    background: var(--favorite-color);
    color: white;
    cursor: pointer;
    cursor: hand;
}



/*case,FAQ*/

.CF {
    display: flex;
}

.CF > div{
    width: 50%;
    height: 400px;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
    color: var(--favorite-color);
}

.case {
      background-image: url(lift.png);
      position: relative;
}

.FAQ {
    background-image: url(sheep.png);
    position: relative;
}

.case2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.FAQ2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.CF h1 {
    font-size: 50px;
    color: var(--favorite-color);
}

.CF a {
    display: inline-block;
    margin-top: 10px;
    background: var(--next-color);
    padding: 10px 10px 10px 30px;
    border-radius: 30px;
    color: white!important;
    font-weight: bold;
}

.CF a:hover {
    background: var(--favorite-color);
    cursor: pointer;
    cursor: hand;
}


/*Blog,Seminar*/

.BS {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
}

.blog {
    padding: 0px 60px 40px 20px;
    text-align: center;
}

.blog h1 {
    color: var(--favorite-color);
    font-size: 50px;
}

.seminar {
     padding: 0px 20px 40px 60px;
     text-align: center;
}

.seminar h1 {
    color: var(--favorite-color);
    font-size: 50px;
}

.BS2 {
    display: flex;
    padding: 20px 0px;
    border-bottom: solid 0.1px blue;
    width: 400px;
}

.BS4 {
    display: flex;
    align-items: center;
}

.BS4 time {
    width: 100px;
    padding: 0px 10px;
    font-size: 14px;
}

.BS4 a {
    border: solid 1px var(--favorite-color);
    font-size: 12px;
    color: var(--favorite-color);
    padding: 0px 10px;
    margin-right: 5px;
}

.BS4 a:hover {
    background: var(--favorite-color);
    color: white;
}

.BS3 > a {
    display: inline-block;
    font-size: 14px;
    padding: 10px 0px 0px 25px;
    width: 310px;
    text-align: left;
}

.BS3 > a:hover {
    color: var(--favorite-color);
}

.BS5 {
    display: inline-block;
    margin-top: 20px;
    background: white;
    border: solid 1px var(--favorite-color);
    padding: 10px 10px 10px 30px;
    border-radius: 30px;
    color: var(--favorite-color)!important;
    font-weight: bold;
}

.BS5:hover {
    background: var(--favorite-color);
    color: white !important;
    cursor: pointer;
    cursor: hand;
}


/*recruit*/

.recruit {
    width: 100%;
    height: 730px;
    background: #f5f5f9;
    display: flex;
    align-items: center;
}

.recruit-container {
    position: relative;
    width: 1140px;
    height: 573px;
    margin: 0 auto;
}

.recruit-sentence {
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 1.8;
    padding: 40px 150px 0px 80px;
    width: 400px;
    height: 410px;
    background: white;
    color: var(--favorite-color);
    z-index: 1;
}

.recruit h1 {
    margin: 0;
    font-size: 50px;
}

.recruit h3 {
    margin: 0;
}

.recruit p {
    margin: 10px 0px 0px 0px;
    font-size: 14px;
    color: black;
}

.recruit a {
    background: white;
    border: solid 1px var(--favorite-color);
    color: var(--favorite-color);
    font-weight: bold;
    padding: 5px 10px 5px 30px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
}

.recruit a:hover {
    background: var(--favorite-color);
    color: white;
    cursor: pointer;
    cursor: hand;
}

.recruit-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.recruit-img > img {
    width: 630px;
    height: 450px;
}



/*contact*/

.contact {
    position: relative;
    height: 400px
}

.contact img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0.4;
}

.contact div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}

.contact h1 {
    color: var(--favorite-color);
    font-size: 50px;
    margin: 0;
}

.contact p {
    font-size: 14px;
}

.contact a {
    border-radius: 30px;
    padding: 10px 10px 10px 30px;
    background: var(--next-color);
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}


.contact a:hover {
    background: var(--favorite-color);
    cursor: pointer;
    cursor: hand;
}


/*adress*/

.adress {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--next-color);
}

.adress a {
    padding-left: 200px;
}

.adress > div {
    padding-left: 50px;
    color: white;
}

.adress h3 {
    margin: 0;
}

.adress p {
    margin: 10px 0px 0px 0px;
    line-height: 26px;
}

.adress > div a {
    background: white;
    color: var(--favorite-color);
    font-weight: bold;
    padding: 10px 10px 10px 30px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
}

.adress > div a:hover {
    background: var(--favorite-color);
    color: white;
    cursor: pointer;
    cursor: hand;
}

/*footer*/

footer {
    background: var(--favorite-color);
    position: relative;
}

.footer1 {
    display: flex;
    margin-left: 10%;
    margin-right: auto;
    line-height: 30px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    height: 240px;
}

.footer1 ul {
    list-style: none;
    width: 200px;
    padding-top: 30px;
}

.footer1 > ul a:hover {
    border-bottom: 0.1px skyblue solid;
}

.footer2 {
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer2 a {
    width: 100px;
    height: 100px;
}

footer > img {
    position: absolute;
    right: 1%;
    bottom: 15%;
}

footer p {
    margin: 0;
    text-align: center;
    color: white;
    padding: 50px 0px;
    font-size: 8px;
}


/* responsive */
@media (max-width: 1199px) {
    
    .concept {
        width: 930px;
        height: 503px;
    }
    
   .concept-sentence {
        width: 370px;
        height: 400px;
        padding: 40px 120px 0px 40px;
    }
    
    .concept-img > img {
        width: 500px;
        height: 400px;
    }
    
    .recruit-container{
        width: 930px; 
        height: 503px;
    }
    
    .recruit-sentence {
        width: 370px;
        height: 420px;
        padding: 20px 120px 0px 40px;
    }
    
    .recruit-img > img {
        width: 500px;
        height: 400px;
    }
}


@media (max-width: 991px) {
    
    header {
        height: 76px;
    }
    
    .header1 a {
        display: flex;
        align-items: center;
    }
    
    .header1 img {
        width: 55px;
        height: 55px;
    }
    
    .header2 {
        display: none;
    }
    
    .header3 {
       line-height: 76px;
       margin-right: 25px;
    }
    
    .header5 {
        display: flex;
        justify-content: center;
    }
    
    .header5 a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header5 img {
        width: 55px;
        height: 55px;
        justify-content: center;
    }
    
    .concept {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 800px;
        width: 100%;
    }
    
    .concept-sentence {
        position: static;
        width: 400px;
        padding: 40px 140px 50px 140px;
        height: 440px;
    }
    
    .concept-img {
        position: static;
        width: 680px;
        height: 350px;
    }
    
    .concept-img > img {
        width: 680px;
        height: 350px;
    }
    
    .service div {
        width: 450px;
    }
    
    .BS {
        flex-direction: column;
        height: 1130px;
    }
    
    .BS2 {
        justify-content: center;
        width: 430px;
    }
    
    .blog {
        height: 500px;
        padding: 0px 40px 40px 40px;
    }
    
    .seminar {
        height: 500px;
        padding: 0px 40px 40px 40px;
    }
    
    .recruit {
        height: 950px;
    }
    
     .recruit-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 790px;
    }
    
    .recruit-sentence {
        position: static;
        width: 400px;
        padding: 40px 140px 50px 140px;
        height: 440px;
    }
    
    .recruit-img {
        position: static;
        width: 680px;
        height: 350px;
    }
    
    .recruit-img > img {
        width: 680px;
        height: 350px;
    }
    
    .footer1 {
        display: none;
    }
    
    .footer2 {
        padding-top: 60px;
    }
}


@media (max-width: 767px) {
    
    .information {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 530px;
        height: 100px;
        margin:0 auto;
    }
    
    .information2 {
        margin-left: 0;
        border: none;
        line-height: 30px !important;
    }
    
    .information-container {
        margin-left: 0;
        line-height: 30px;
    }
    
    .information3 {
        padding: 0;
        width: 70px !important;
    }
    
    .information5 {
        margin-right: 0;
        min-width: 108px;
        font-size: 12px;
        padding: 10px 0 10px 20px;
    }
    
    .concept {
        height: 700px;
    }
    
    .concept-sentence {
        width: 370px;
        padding: 20px 80px 0px 80px;
        height: 380px;
    }
    
    .concept-img {
        width: 530px;
        height: 300px;
    }
    
    .concept-img > img {
        width: 530px;
        height: 300px;
    }
    
    .service div{
        width: 370px;
    }
    
    .CF {
        flex-direction: column;
    }
    
    .CF > div {
        width: 100%;
        height: 330px;
    }
    
    .CF h1 {
        margin-top: 0;
    }
    
    .BS {
        height: 1050px;
    }
    
    .blog {
        height: 460px;
    }
    
    .seminar {
        height: 460px;
    }

    .recruit {
        height: 800px;
    }
    
    .recruit-container {
        height: 700px;
    }
    
    .recruit-sentence {
        width: 370px;
        padding: 20px 80px 0px 80px;
        height: 380px;
        padding: 0px 80px 20px 80px;
    }
    
    .recruit-img {
        width: 530px;
        height: 300px;
    }
    
    .recruit-img > img {
        width: 530px;
        height: 300px;
    }
    
    .contact {
        height: 300px;
    }
    
    .contact img{
        height: 300px;
    }
    
    .adress {
        flex-direction: column;
        height: 350px;
    }
    
    .adress a {
        padding: 0;
    }
    
    .adress div {
        padding: 0;
        text-align: center;
    }
    
    .blog h1 {
      font-size: 35px;
      margin-bottom: 10px;
    }
    
    .seminar h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }
    
    .contact h1 {
      font-size: 35px;
    }

}

@media (max-width: 580px) {
    
    .header3 {
        display: none;
    }
    
    .information {
        width: 100%;
    }
    
    .concept-sentence {
        width: 340px;
        padding: 20px 60px 0px 60px;
        height: 380px;
    }
    
    .concept-img {
        width: 460px;
        height: 260px;
    }
    
    .concept-img > img {
        width: 460px;
        height: 260px;
    }
    
    .service div{
        width: 340px;
    }
    
   
    .recruit-container {
        width: 100%;
    }
    
    .recruit-sentence {
        width: 340px;
        padding: 0px 60px 20px 60px;
    }
    
    .recruit-img {
        width: 460px;
        height: 260px;
    }
    
    .recruit-img > img {
        width: 460px;
        height: 260px;
    }
}


